html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, p, a, li, span {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* general */
.container-fluid {
  max-width: 90%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.flex {
  display: flex;
}

.button-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* problem */
.problem__header {
  margin-bottom: 20px;
}

.problem__text-par {
  margin-bottom: 10px;
}

.problem__secheader {
  margin-bottom: 15px;
  padding-top: 5px;
}

.problem__examples {
  margin-bottom: 10px;
  width: 80%;
  border-collapse: collapse;
}

.problem__examples-header_text {
  width: 50%;
  padding: 10px 20px;
  text-align: left;
  border: 1px solid gray;
}

.problem__examples-elem {
  width: 50%;
  padding: 10px 20px;
  vertical-align: top;
  white-space: pre;
  border: 1px solid gray;
}

.problem__submit {
  margin-bottom: 30px;
}

/* test result */

.test-result__table {
  margin-bottom: 10px;
  width: 80%;
  border-collapse: collapse;
}

.test-result__table-header_text {
  width: 50%;
  padding: 10px 20px;
  text-align: left;
  border: 1px solid gray;
}

.test-result__table-elem {
  width: 50%;
  padding: 10px 20px;
  vertical-align: top;
  white-space: pre;
  border: 1px solid gray;
}
